#balaji{
    display: flex;
    height:200px ;
    flex-wrap: wrap;
    background-color: aqua;
    
    

}
#child1{
    background-color: beige;
    text-align: center;
}
#child2{
    background-color: rgb(245, 220, 222);
}
#child3{
    background-color: palevioletred;
    border: 3px solid black;


}
#child4{
    background-color:green;border-radius: 0ex;

}
#child5{
    background-color: yellowgreen;
}
#child6{
    background-color: red;
}
#child7{
    background-color: lightcoral;
}
#balaji >div{
    width: 25%;
    
}
